<mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select *ngIf="multipleSelection" [formControl]="category" multiple>
        <mat-option *ngFor="let category of categories" [value]="category">
            {{ category.name }}
        </mat-option>
    </mat-select>
    <mat-select *ngIf="!multipleSelection" [formControl]="category">
        <mat-option *ngFor="let category of categories" [value]="category">
            {{ category.name }}
        </mat-option>
    </mat-select>
</mat-form-field>